<mat-card>
    <mat-card-title>Cadastro de Usuário</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Nome Completo" formControlName="fullName">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="email" matInput placeholder="Email" formControlName="email">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Senha" formControlName="password">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Confirmar Senha" formControlName="confirmPassword">
                </mat-form-field>
            </p>

            <p *ngIf="error" class="error">
                {{ error }}
            </p>

            <div class="button-container">
                <button class="button" (click)="OnLogin()">Login</button>
                <div class="button">
                    <button type="submit" mat-button>Cadastrar</button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>
